* {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}

.form-input-container {
        display: flex;
        flex-direction: column;
        padding: 3px;
        cursor: pointer;

        .form-input-label {
                margin: 6px;
                font-size: 15px;
        }
        
        .form-input-group {
                display: flex;
                align-items: center;
                font-size: 23px;
                color: rgb(230, 222, 222);
                border: 2px solid rgb(230, 222, 222);
                border-radius: 6px;
                padding: 3px 0;
                .form-input {
                        border: none;
                        border-left: 2px solid rgb(230, 222, 222);
                        margin-left: 5px;
                        font-size: 18px;
                        width:100%;
                        height: 100%;
                }
                .form-input:hover {
                        outline: none;
                }
                .form-input.hide-guidline,  .form-input:focus {
                        border: none;
                        outline: none;
                }

                // ************************************

                .icon {
                        margin-left: 8px;
                        margin-top: 3px;
                }

        }

        .form-input-group:hover, .form-input-group:focus-within {
                border-color: #4285f4;
                .icon {
                        color: #4285f4;
                }
        }
}