* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

.sign-container {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 25px;
        position: relative;
        justify-content: center;
        color: #000;

        .auth-part,
        .info-part {
                background-color: #ffff;
                border-radius: 10px;
                position: absolute;
                height: 88%;
                transition: transform 0.4s cubic-bezier(0, 0.4, 1, 0.49);
                // transform: translateZ(100px);
                box-shadow: 0 5px 25px rgb(0 0 0 / 10%), 0 10px 25px rgb(0 0 0 / 10%);
                // opacity: 0.7;
        }

        .auth-part::before,
        .auth-part::after,
        .info-part::before,
        .info-part::after {
                content: "";
                background-color: rgba(0, 0, 0, 0.1);
                background-size: cover;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px;
        }

        .highlighted::after,
        .highlighted::before {
                background-color: transparent;
                transform: scale(0);
        }

        .highlighted {
                opacity: 1;
                .custom-button {
                        background-color: rgb(153, 153, 215);
                        color: #fff;
                }
                .custom-button.google-sign-in {
                        background-color: inherit;
                        border: 2px solid rgb(230, 222, 222);
                        color: #000;
                }
        }

        .auth-part {
                transform: scale(0.8);
                display: flex;
                flex-direction: column;
                width: 30%;
                padding: 15px 15px 15px 50px;
                justify-content: space-between;
                left: 49%;

                &.highlighted {
                        transform: scale(0.95);
                        padding: 15px;
                        z-index: 100;
                }

                .custom-button {
                        margin-top: 21px;
                        width: 100%;
                        border: 2px solid rgb(153, 153, 215);
                        justify-content: center;
                        align-items: center;

                        .google-icon {
                                width: 17px;
                                height: 17px;
                                transform: translateY(19%);
                                margin-right: 2px;
                        }

                }

                .custom-button.google-sign-in {
                        margin-top: 17px;
                }

        }

        .info-part {
                display: flex;
                transform: scale(0.8);
                width: 45%;
                padding: 20px 40px 20px 20px;
                right: 45%;
                flex-direction: column;

                &.highlighted {
                        transform: scale(0.95);
                        padding: 20px;
                        z-index: 100;
                }

                h1 {
                        margin-bottom: 25px;
                }

                p {
                        margin-top: 0px;
                        margin-bottom: 45px;
                }

                .custom-button {
                        position: relative;
                        bottom: -125px;
                        border: 2px solid rgb(153, 153, 215);
                }
        }
}
