* {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}

.homepage {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
}
