* {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}

.collection-container {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
<<<<<<< HEAD
=======
          // height: %;
>>>>>>> 4843a7dae4a05d5068f853dadeb1be65786a1c83
          overflow-y: scroll;
          align-items: center;
          justify-content: center;
          padding: 20px 0;
<<<<<<< HEAD
          margin-bottom: 30px;
=======
          // color: rgba(0, 0, 0, 0.3);
>>>>>>> 4843a7dae4a05d5068f853dadeb1be65786a1c83
}






